.box2{
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
    width: 400px;
    height: 400px;
    content: fill;
    background-size: 100%;
    background: no-repeat;
  }
  
  .flt_svg {
    visibility: hidden; 
    position: absolute;
    width: 0px;
    height: 0px;
  }
  
  .box_parent
  {
      filter: url('#flt_tag');
  }