.app {
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 100vh;
  width: 100vw;
}

.header {
  position: absolute;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 15px;
  top: 0;
}

.landing-left {
  background: url("./assets/background-gradient.svg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  grid-column: 1;
}

.landing-left > p {
  font-size: 24px;
  width: 80%;
}

.landing-right {
  grid-column: 2;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
}
